/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #000000, #1d2224, #1e282c);
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Container de introdução */
.introdução {
  margin-bottom: 30px;
  max-width: 600px;
}

h1 {
  font-size: 2.5em;
  color: #00c8c8;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  color: #00c8c8;
  font-weight: 400;
}

/* Botões */
button {
  background-color: #00c8c8;
  border: none;
  color: #fff;
  padding: 12px 25px;
  margin: 10px;
  font-size: 1em;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #00c8c8;
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  button {
    width: 80%;
    font-size: 0.9em;
  }
}

.cardLoginAdm {
  background-color: #1a1a1a;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  width: 350px;
  animation: fadeIn 0.8s ease;
}

.cardLoginAdm h2 {
  color: #00c8c8;
  margin-bottom: 20px;
}

.cardLoginAdm h3 {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #00c8c8;
}

.cardLoginAdm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #2b2b2b;
  color: #fff;
}

/* ======== Botão ======== */
.cardLoginAdm button {
  background-color: #00c8c8;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.cardLoginUsuario button:hover {
  background-color: #00c8c8;
  transform: scale(1.05);
}

.cardLoginUsuario {
  background-color: #1a1a1a;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  width: 350px;
  animation: fadeIn 0.8s ease;
}

.cardLoginUsuario h2 {
  color: #00c8c8;
  margin-bottom: 20px;
}

.cardLoginUsuario h3 {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #00c8c8;
}

.cardLoginUsuario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #2b2b2b;
  color: #fff;
}

/* ======== Botão ======== */
.cardLoginUsuario button {
  background-color: #00c8c8;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.cardLoginUsuario button:hover {
  background-color: #00c8c8;
  transform: scale(1.05);
}